<div>

  <header class="p-3 bg-success text-dark  bg-opacity-5" style="width: 100%;">
    <div class="container">
      <div class=" text-center d-inline">
        <h2> Result Management System <button id="homebtn" style="position: absolute; right: 5%;"
            class="btn btn-danger d-inline" (click)="homeFunc()"> Home</button> </h2>
      </div>
    </div>
  </header>

  <section class="vh-100 bg-dark">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-5 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">

              <h3 class="mb-3">Get Result</h3>

              <form #getResultForm=ngForm  (ngSubmit)="getResult(getResultForm)">

                <div class="form-outline mb-4">
                  <input type="number" id="rollno" class="form-control form-control-lg" placeholder="Roll No"
                    name="rollno" ngModel required />
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="dob" class="form-control form-control-lg" placeholder="D.O.B dd-mm-yyyy"
                    name="dob" ngModel required />
                </div>

                <button class="btn btn-primary btn-lg btn-block mb-1" type="submit">Fetch</button>
              </form>
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>